.head {
    margin-bottom: 40px;
}

.line {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
    max-width: 512px;
}

.hr {
    max-width: 512px;
    margin: 0;
    border: 1px solid #F1F2F3;
}

.text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
}

.price {
    color:var(--text-color);
    font-size: 19px;
    font-weight: 400;
}

.currency {
    color: var(--text-secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.totalCount {
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 300;
}

.checkout {
    max-width: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}