.link {
    text-decoration: none;
}

.card {
    background: var(--white-color);
    box-shadow: 18.2143px 18.2143px 36.4286px rgba(211, 209, 216, 0.25);
    border-radius: 19px;
    width: 320px;
}

.head {
    position: relative;
    min-height: 165px;
    border-radius: 19px;
}

.price {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--white-color);
    padding: 3px 10px;
    border-radius: 20px;
    color: #111719;
    font-size: 20px;
    font-weight: 400;
}

.currency {
    color: var(--primary-color);
}

.add-to-cart {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--primary-color);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: none;
    cursor: pointer;
}

.add-to-cart:hover {
    background: var(--primary-hover-color);
}

.rate {
    position: absolute;
    bottom: -12px;
    left: 15px;
    background: var(--white-color);
    padding: 3px 8px;
    border-radius: 20px;
    color: #111719;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0px 6.07143px 24.2857px rgba(254, 114, 76, 0.2);
}

.footer {
    padding: 12px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-color);
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: var(--text-secondary-color);
}