:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #FE724C;
  --primary-hover-color: #FE5C37;
  --text-color: #000;
  --text-secondary-color: #5B5B5E;
  --white-color: #fff;
  --separator-color: #D4D6E0;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}